{% extends "base.html" %}
{% block content %} 


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class='card-wrapper'>
    <div class="card">

<form method="POST" action="/apiresult">
    <h1>Enter a shoe brand:</h1> <input type="radio" name="brand" value="nike" required>Nike
    <input type="radio" name="brand" value="Jordan" required>Jordan
    <input type="radio" name="brand" value="vans" required>Vans
    <input type="radio" name="brand" value="converse" required>Converse
    <input type="radio" name="brand" value="adidas" required>Adidas
    <input type="radio" name="brand" value="new balance" required>New Balance
    <input type="radio" name="brand" value="Saucony" required>Saucony

</br>

<h1>Enter your gender: </h1> <input type="radio" name="gender" value="men" required>Male
<input type="radio" name="gender" value="women" required>Female <br>



<input type="submit" value="Submit" style ="background-color:red" class='btn'>


</form>
</div>
    </div>

<!-- result one -->
<div class='card-wrapper'>
    <div class="card">



<h2 class="center"><strong> {{ name }}</strong></h2>
<img class="center" src='{{imageUrl}}' width='400' height='200' alt='Sneaker Image'>
<p class="center">{{color}}</p>
    </div>



<!-- result two -->
<div class="card">

<h2 class="center"> <strong> {{ name2 }}</strong></h2>
<img class="center" src='{{imageUrl2}}' width='400' height='200' alt='Sneaker Image'>
<p class="center">{{color2}}</p>
</div>


<!-- result three -->

    <div class="card">

<h2 class="center"> <strong> {{ name3 }}</strong></h2>
<img class="center" src='{{imageUrl3}}' width='400' height='200' alt='Sneaker Image'>
<p class="center">{{color3}}</p>
</div>
</div>
<!-- result four -->
<div class='card-wrapper'>
<div class="card">


<h2 class="center"> <strong>{{ name4 }}</strong></h2>
<img class="center" src='{{imageUrl4}}' width='400' height='200' alt='Sneaker Image'>
<p class="center">{{color4}}</p>
</div>


<!-- result five -->

<div class="card">
<h2 class="center"> <strong>{{ name5 }}</strong></h2>
<img class="center" src='{{imageUrl5}}' width='400' height='200' alt='Sneaker Image'>
<p class="center">{{color5}}</p>
</div>


<div class="card">
    <h2 class="center"> <strong>{{ name6 }}</strong></h2>
    <img class="center" src='{{imageUrl6}}' width='400' height='200' alt='Sneaker Image'>
    <p class="center">{{color6}}</p>
    </div>
</div>

<div class='card-wrapper'>
    <div class="card">
        <h2 class="center"> <strong>{{ name7 }}</strong></h2>
        <img class="center" src='{{imageUrl7}}' width='400' height='200' alt='Sneaker Image'>
        <p class="center">{{color7}}</p>
        </div>

        <div class="card">
            <h2 class="center"> <strong>{{ name8 }}</strong></h2>
            <img class="center" src='{{imageUrl8}}' width='400' height='200' alt='Sneaker Image'>
            <p class="center">{{color8}}</p>
            </div>

            <div class="card">
                <h2 class="center"> <strong>{{ name9 }}</strong></h2>
                <img class="center" src='{{imageUrl9}}' width='400' height='200' alt='Sneaker Image'>
                <p class="center">{{color9}}</p>
                </div>
            </div>

            <div class='card-wrapper'>
                <div class="card">
                    <h2 class="center"> <strong>{{ name10 }}</strong></h2>
                    <img class="center" src='{{imageUrl10}}' width='400' height='200' alt='Sneaker Image'>
                    <p class="center">{{color10}}</p>
                    </div>

                    <div class="card">
                        <h2 class="center"> <strong>{{ name11 }}</strong></h2>
                        <img class="center" src='{{imageUrl11}}' width='400' height='200' alt='Sneaker Image'>
                        <p class="center">{{color11}}</p>
                        </div>

                        <div class="card">
                            <h2 class="center"> <strong>{{ name12 }}</strong></h2>
                            <img class="center" src='{{imageUrl12}}' width='400' height='200' alt='Sneaker Image'>
                            <p class="center">{{color12}}</p>
                            </div>
                        </div>

                            <div class='card-wrapper'>
                            <div class="card">
                                <h2 class="center"> <strong>{{ name13 }}</strong></h2>
                                <img class="center" src='{{imageUrl13}}' width='400' height='200' alt='Sneaker Image'>
                                <p class="center">{{color13}}</p>
                                </div>

                                <div class="card">
                                    <h2 class="center"> <strong>{{ name14 }}</strong></h2>
                                    <img class="center" src='{{imageUrl14}}' width='400' height='200' alt='Sneaker Image'>
                                    <p class="center">{{color14}}</p>
                                    </div>

                                    <div class="card">
                                        <h2 class="center"> <strong>{{ name15 }}</strong></h2>
                                        <img class="center" src='{{imageUrl15}}' width='400' height='200' alt='Sneaker Image'>
                                        <p class="center">{{color15}}</p>
                                        </div>
                                    </div>

                                        <div class='card-wrapper'>
                                        <div class="card">
                                            <h2 class="center"> <strong>{{ name16 }}</strong></h2>
                                            <img class="center" src='{{imageUrl16}}' width='400' height='200' alt='Sneaker Image'>
                                            <p class="center">{{color16}}</p>
                                            </div>

                                            <div class="card">
                                                <h2 class="center"> <strong>{{ name17 }}</strong></h2>
                                                <img class="center" src='{{imageUrl17}}' width='400' height='200' alt='Sneaker Image'>
                                                <p class="center">{{color17}}</p>
                                                </div>

                                                <div class="card">
                                                    <h2 class="center"> <strong>{{ name18 }}</strong></h2>
                                                    <img class="center" src='{{imageUrl18}}' width='400' height='200' alt='Sneaker Image'>
                                                    <p class="center">{{color18}}</p>
                                                    </div>
                                                </div>

                                                <div class='card-wrapper'>
                                                    <div class="card">
                                                        <h2 class="center"> <strong>{{ name19 }}</strong></h2>
                                                        <img class="center" src='{{imageUrl19}}' width='400' height='200' alt='Sneaker Image'>
                                                        <p class="center">{{color19}}</p>
                                                        </div>

                                                        <div class="card">
                                                            <h2 class="center"> <strong>{{ name20 }}</strong></h2>
                                                            <img class="center" src='{{imageUrl20}}' width='400' height='200' alt='Sneaker Image'>
                                                            <p class="center">{{color20}}</p>
                                                            </div>
                                                        </div>





<div class="w3-container w3-black w3-center w3-opacity w3-padding-53">
    <h1 class="w3-margin w3-xlarge"><strong>Contact Us!</strong></h1>
    <p>Gmail: Soleseeker@gmail.com</p>
    <p>Mobile: 0831958347</p>
</div>

{% endblock%}