{% extends "base.html"%}
{% block content %}

<div class="Reviewer">
    <div class='card-wrapper'>
    <div class="card">
    <h1 class="center">Add to the forum</h1>

    <form name="forum_form">

        <label for="forumName">Name</label>
        <input type="text" name="forumName" class="field" required>

        <label for="forumTitle">Title</label>
        <input type="text" name="forumTitle" class="field" maxlength="300" required>

        <label for="forumPost">Post</label>
        <textarea rows="4" cols="40" name="forumPost"  required></textarea>


        
        

        

       


        <p class="error error--hidden"></p>

        <input type="submit" value="Submit" style ="background-color:red" class='btn'>

        


    </form>

    
</div>
    </div>
</div>



    



{% endblock%}

