{% extends "base.html"%}
{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="Reviewer">
    <div class='card-wrapper'>
    <div class="card">
    <h1 class="center">Add to the forum</h1>

    <form name="forum_form">

        

        <label for="forumTitle">Title</label>
        <input type="text" name="forumTitle" class="field" maxlength="300" required>

        <label for="forumPost">Post</label>
        <textarea rows="4" cols="40" name="forumPost"  required></textarea>


        
        

        

       


        <p class="error error--hidden"></p>

        <input onClick="window.location.reload();" type="submit" value="Submit" style ="background-color:red" class='btn'>

        


    </form>

    
</div>
    </div>
</div>





        
{% for doc in collectiontest.find().sort("forumTime",-1): %}

    <div class="card-wrapper">
    <div class="card">

    
        <ul style="list-style-type:none">
        
        <li><strong>Name:</strong> {{ doc.forumName }}</li>
        <li><strong>Title:</strong> {{ doc.forumTitle }}</li>
        <li><strong>Post:</strong> {{ doc.forumPost }}</li>
        </br>
        
        </ul>
        <strong><i>Post ID:</i></strong> {{ doc._id }}
        
        <strong><i>Time Posted:</i></strong> {{ doc.forumTime }}
        
    </div>
</div>

    

          {% endfor %}
        
          <div class="w3-container w3-black w3-center w3-opacity w3-padding-53">
            <h1 class="w3-margin w3-xlarge whitefont"><strong>Contact Us!</strong></h1>
            <p>Gmail: SoleseekerContact@gmail.com</p>
            <p>Mobile: 0831958347</p>
            <!--https://publish.twitter.com/?buttonType=HashtagButton&query=%23LoveTwitter&widget=Button 31.03.2021-->
            <a href="https://twitter.com/intent/tweet?button_hashtag=SoleSeeker&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #SoleSeeker</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>



{% endblock%}

