<!-- ClassName: homescreen.html
  Date: 04/05/2021
@author Sam Greenan, x17449342

@reference 
https://www.youtube.com/watch?v=1iFE_5wD2Q0 - PayPal Integration
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h - Header template accessed:22/02/2021
https://publish.twitter.com/?buttonType=HashtagButton&query=%23LoveTwitter&widget=Button Twitter tweet function accessed:31/03/2021
https://publish.twitter.com/?query=https%3A%2F%2Ftwitter.com%2Fsneakeralerthd%3Flang%3Den&widget=Timeline Embedded Tweets API 
-->


{% extends "base.html"%}
{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1 class="whitefont">What we do!</h1>
        <h5 class="w3-padding-32 whitefont">Our mission is to create a hub for all sneaker heads. We want you to share opinions, learn from others and most importantly have FUN!</br>Have a look at our promotional video to get a better idea.</h5>
        <p class="w3-text-grey whitefont">Our main functions include</p>
        <ul class="whitefont">
            <li><strong>Weekly Shoe Seeker Scavenger Hunt</strong></li></br>
            <li><strong>Sneaker Forum</strong></li></br>
            <li><strong>Sole Searcher</strong></li>
            
        </ul>
      </div>
  
      <div class="w3-third w3-center">
        <iframe width="720" height="415"
            src="https://www.youtube.com/embed/8aGhZQkoFbQ" frameborder="0" allowfullscreen>

        </iframe>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-45 w3-container">
    <div class="card-wrapper">
      <div class="center2" >
        <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/satalymike?ref_src=twsrc%5Etfw">Tweets by satalymike</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="center2">
        <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/Jumpman23?ref_src=twsrc%5Etfw">Tweets by Jumpman23</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    
      <div class="center2">
        <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/VANS_66?ref_src=twsrc%5Etfw">Tweets by VANS_66</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  
    
    </div>
  </div>

  
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-53">
    <h1 class="w3-margin w3-xlarge whitefont"><strong>Contact Us!</strong></h1>
    <p>Gmail: SoleseekerContact@gmail.com</p>
    <p>Mobile: 0831958347</p>
    <p class="whitefont">Tweet #SoleSeeker</p>
    <a href="https://twitter.com/intent/tweet?button_hashtag=SoleSeeker&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #SoleSeeker</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<center>
  <p class="whitefont">Donation Link</p>
  <div id="paypal-button"></div>
  
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  
  <script>
      var CREATE_PAYMENT_URL  = 'http://127.0.0.1:5000/payment';
      var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/execute';
  
      paypal.Button.render({
  
          env: 'sandbox', // Or 'sandbox'
  
          commit: true, // Show a 'Pay Now' button
  
          payment: function() {
              return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                  return data.paymentID;
              });
          },
  
          onAuthorize: function(data) {
              return paypal.request.post(EXECUTE_PAYMENT_URL, {
                  paymentID: data.paymentID,
                  payerID:   data.payerID
              }).then(function(res) {
  
                  console.log(res.success)
                  // The payment is complete!
                  // You can now show a confirmation message to the customer
              });
          }
  
      }, '#paypal-button');
  </script>
  </center>
</div>




{% endblock%}