{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %} 
    <!--https://www.youtube.com/watch?v=mISFEwojJmE  REMEMBER TO REMOVE NAV BAR WHEN LOGIN COMPLETED-->

    
    <div class="card-wrapper" >

        <div class "card" style="Padding-right:50px;" >
            <h1 class="center"><strong>Create an Account</strong></h1>

        <form name="signup_form">

            <label for="name">Name</label>
            <input type="text" name="name" class="field" required>

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Sign Up" style ="background-color:red" class='btn'>


        </form>
        </div>

        <div class "card" style= "Padding-left:50px;"  >
            <h1 class="center"> <strong>Log In</strong></h1>
    
            <form name="login_form">
    
                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>
    
                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>
    
                <p class="error error--hidden"></p>
    
                <input type="submit" value="Log In" style ="background-color:red" class='btn'>
    
    
            </form>
    
    
        </div>
    </div>
{% endblock %}