{% extends "base.html"%}
{% block content %} 













<!--  Shoe preview template https://www.w3schools.com/css/css_image_gallery.asp  -->
<html>
<head>
<style>



div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>
</head>
<body>

  <div class="card-wrapper">

    <div class "card">

    
    <h1 class="center">Seek your sole</h1>
    
    <form class ="center" name="signup_form">
  
        <label for="brand">Brand</label>
        <input type="text" name="brand" class="field" required >


        <label for="mColour">Main Colour</label>
        <input type="text" name="mcolour" class="field" required>
  
        <label for="sColour">Secondary Colour <i>- if applicable</i></label>
        <input type="text" name="scolour" class="field" required>

        <label for="sneakertype">Sneaker type</label>
        <select id="sneakertype" name="sneakertype" required>
          <option value="LowTop">Low Top</option>
          <option value="HighTop">High Top</option>
          </select><br><br>

        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
          <option value="mens">Mens</option>
          <option value="womens">Womens</option>
          <option value="unisex">Unisex</option>
          </select>
  
        <p class="error error--hidden"></p>
  
        <input type="submit" value="Submit" style ="background-color:red" class='btn'>
  
  
    </form>
  </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.pikpng.com/pngl/m/272-2720813_transparent-nike-air-max-transparent-background-nike-air.png">
    <img src="https://www.pikpng.com/pngl/m/272-2720813_transparent-nike-air-max-transparent-background-nike-air.png" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Nike</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://p1.hiclipart.com/preview/854/923/720/s-converse-all-star-unpaired-of-converse-all-star-high-top-sneaker-png-clipart.jpg">
    <img src="https://p1.hiclipart.com/preview/854/923/720/s-converse-all-star-unpaired-of-converse-all-star-high-top-sneaker-png-clipart.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Converse</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.pngkey.com/png/full/125-1257203_checkered-vans-png-nz-justin-bieber-vans-shoes.png">
    <img src="https://www.pngkey.com/png/full/125-1257203_checkered-vans-png-nz-justin-bieber-vans-shoes.png" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Vans</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://p.kindpng.com/picc/s/244-2441212_yeezy-frozen-yellow-stock-yeezy-350-v2-lineup.png">
    <img src="https://p.kindpng.com/picc/s/244-2441212_yeezy-frozen-yellow-stock-yeezy-350-v2-lineup.png" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Yeezy's</div>
</div>


</body>
</html>


{% endblock%}