<!-- ClassName: shoesearch.html
  Date: 04/05/2021
@author Sam Greenan, x17449342

@reference 
https://www.w3schools.com/w3css/4/w3.css - Stylesheet
-->




{% extends "base.html" %}


{% block content %} 
<!--<input placeholder="Search"  aria-label="Search"> -->
                  <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style ="background-color:red">Search</button> -->
                  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class='card-wrapper'>
<div class="card">

<form method="POST" action="/newapi" class="center">
    <h1>Select a shoe brand:</h1> <input type="radio" name="brand" value="nike" required>Nike
                                 <input type="radio" name="brand" value="Jordan" required>Jordan
                                 <input type="radio" name="brand" value="vans" required>Vans
                                 <input type="radio" name="brand" value="converse" required>Converse
                                 <input type="radio" name="brand" value="adidas" required>Adidas
                                 <input type="radio" name="brand" value="new balance" required>New Balance
                                 
                        
</br>

    <h1>Select your gender: </h1> <input type="radio" name="gender" value="men" required>Male
                        <input type="radio" name="gender" value="women" required>Female <br>
    
                        
    
    <input type="submit" value="Submit" style ="background-color:red" class='btn'>


</form>

</div>
</div>



{% endblock%}